**/*.ali
**/*.o
**/*.exe
**/*.pdf
**/*.out
**/output.txt
**/a.exe
**/a.exe.stackdump
/.vscode
**/egen.txt
**/lösn.txt
**/doThis.txt

**/phi_calc
**/phi_calc.*
**/test_list
**/test_list.*
**/test
**/test.*