adao4/test_exceptions.ali
adao4/test_exceptions
adao4/test_exceptions.exe
adao4/test_exceptions.o
adao4/adao4.pdf
adao4/test

adao6/phi_calc.ali
adao6/phi_calc.exe
adao6/phi_calc.o
adao6/adao6.pdf

adao7/adao7.ali
adao7/adao7.o
adao7/adao7.exe
adao7/adao7.pdf

adao7/test/test.exe
adao7/test/test.ali
adao7/test/test.o
adao7/test/test
adao7/ex/sorted_list.ali
adao7/ex/sorted_list.o
adao7/ex/test_list.ali
adao7/ex/test_list.o
adao7/ex/test_list.exe

co1-1/a.out
co1-1/a.exe
co1-1/co1-1.pdf

co1-2/a.out
co1-2/a.exe
co1-2/co1-2.pdf

co2/a.out
co2/a.exe
co2/co2.pdf