**/*.ali
**/*.o
**/*.exe
**/*.pdf
**/*.out
**/output.txt
**/a.exe
**/a.exe.stackdump
/.vscode
**/egen.txt
**/lösn.txt
**/doThis.txt
co3/auto.cpp
adao3-0/**
co8-4/REGISTER_1.TXT
co8-4/REGISTER_2.TXT
**/phi_calc
**/phi_calc.*
**/test_list
**/test_list.*
**/test
**/test.*